    <%= stylesheet_link_tag    'mobile', media: 'all' %>
    <%= javascript_include_tag 'mobile' %>
    <%= csrf_meta_tags %>
</head>
<body>
    Hi, I´m a little blank page. 
    <br>
    When i grow up i would like to be a RWD for mobile devices :D
    <br><br>
    See you then. ;)
</body>