<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Where´s my Public transport." />
    <meta name="language" content="english">
    <meta name="author" content="Miguel Fernandez | miguel_3c@hotmail.com">
    <title>Transit</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body data-tuktuk="boxes">
    <%= yield %>
</body>
